.row.proximos-viajes
    each viaje in viajes
        .col-md-6.col-lg-4.mb-4
            .card
                img(src=`img/destinos_${viaje.imagen}.jpg`, class="img-fluid")
                .card-body
                
                    p
                        i.fas.fa-calendar
                            |  #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
                        p= viaje.descripcion.substr(0,100)
                        a(href=`viajes/${viaje.id}`, class="btn btn-success btn-block") Más informacion